---
import SettingsLayout from "@/components/app/settings/SettingsLayout.astro";

export const name = "Instances";
export const order = -100;
---
<SettingsLayout name={name}>
    <div class="p-4 border bg-blue-900 border-neutral-300">
      blah
    </div>
</SettingsLayout>
